/* ContactUs Component Styles */

#contactus {
    padding: 150px 0;
    background-color: var(--body-bg);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.contactus__left {
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactus__left h2 {
    font-size: 3rem;
    line-height: 65px;
}

.highlight {
    color: var(--primary-color);
}

.contactus__left p {
    margin-top: 20px;
    font-size: 1.1rem;
}

.contactus__left .email-link {
    padding-top: 40px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.contactus__left .email-link i {
    margin-right: 8px;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.contactus__left .blog-button {
    margin-top: 40px;
    margin-right: 10px;
    background-color: var(--btn-primary-bg);
    color: white;
    padding: 20px 60px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    align-self: flex-start;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.contactus__left .blog-button:hover {
    transform: scale(1.1); /* Enlarge the button by 10% */
}

/* Container styling */
#contactus .container {
    flex: 1;
    max-width: 700px;
    padding: 60px;
    background: linear-gradient(135deg, #071952, #162A7A);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin-top: -60px;
    margin-bottom: -50px;
    margin-left: 20px;
}

/* Form styling */
#contactus form {
    display: flex;
    flex-direction: column;
}

#contactus .form-group {
    position: relative;
    margin-bottom: 25px;
}

#contactus .form-group i {
    position: absolute;
    font-size: 1.3rem;
    top: 35%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--primary-color);
}

/* Adjusting the message icon position */
#contactus .form-group .message-icon {
    top: 20px; /* Adjust this value to move the icon next to the placeholder text */
    left: 10px; /* You can adjust this if needed */
}

#contactus .form-group input,
#contactus .form-group textarea {
    width: 100%;
    padding: 10px 10px 25px 42px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
    box-sizing: border-box;
    background-color: transparent;
    color: gainsboro;
}

#contactus .form-group input:focus,
#contactus .form-group textarea:focus {
    outline: none;
    border-bottom-color: var(--btn-primary-bg);
}

#contactus .form-group input::placeholder,
#contactus .form-group textarea::placeholder {
    color: gainsboro;
}

#contactus .form-group textarea {
    resize: vertical;
    height: 150px;
    padding-left: 42px;
}

/* Autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: gainsboro;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* Ensure the transition doesn't affect non-autofilled input */
input,
textarea {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
}

/* Button styling */
#contactus .btn-primary {
    background-color: var(--btn-secondary-bg);
    color: white;
    padding: 20px 200px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    align-self: center;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

#contactus .btn-primary:hover {
    transform: scale(1.1);
}

/* Responsive styling */
@media (max-width: 992px) {
    #contactus {
        flex-direction: column;
        align-items: center;
    }

    .contactus__left {
        max-width: 100%;
        margin-bottom: 40px;
        padding-right: 0;
    }

    #contactus .container {
        max-width: 75%;
        padding: 40px;
        margin: 0;
    }

    .contactus__left h2 {
        font-size: 2.5rem;
        line-height: 50px;
    }

    .contactus__left .blog-button {
        display: none;
    }

    .contactus__left .email-link {
        display: none;
    }
}

@media (max-width: 768px) {
    .contactus__left h2 {
        font-size: 2rem;
        line-height: 40px;
    }

    .contactus__left p {
        font-size: 1rem;
    }

    #contactus .container {
        padding: 30px;
    }

    .contactus__left .blog-button {
        display: none;
    }

    .contactus__left .email-link {
        display: none;
    }

    .contactus__left,
    #contactus .container {
        max-width: 90%;
        margin: 0;
        padding: 20px;
    }

    .contactus__left {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .contactus__left h2 {
        font-size: 1.8rem;
        line-height: 35px;
    }

    .contactus__left p {
        font-size: 0.9rem;
    }

    #contactus .container {
        padding: 20px;
    }

    .contactus__left .blog-button {
        display: none;
    }

    .contactus__left .email-link {
        display: none;
    }

    .contactus__left,
    #contactus .container {
        max-width: 90%;
        margin: 0;
        padding: 20px;
    }

    #contactus .form-group i {
        font-size: 1.2rem;
    }

    #contactus .form-group input,
    #contactus .form-group textarea {
        font-size: 0.9rem;
    }

    .contactus__left {
        margin-bottom: 20px;
    }

    #contactus .btn-primary {
        padding: 15px 100px;
    }
}