.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    list-style: none;
}

.menu__link {
    font-weight: 400;
    font-size: 0.9rem;
    cursor: pointer;
}

.menu__link:hover {
    color: var(--link-active)
}

.logo h2 {
    color: var(--primary-color);
}

.place__order {
    display: flex;
    align-items: center;
}

.place__order-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem; /* Increased size */
    border-radius: 22px; /* Increased border radius */
    cursor: pointer;
    font-size: 1rem; /* Increased font size */
    transition: background-color 0.3s ease, border 0.3s ease; /* Smooth transition effect */
    display: flex; /* Align items horizontally */
    align-items: center; /* Vertically center the text and icon */
    column-gap: 0.5rem; /* Space between text and icon */
}

.place__order-btn:hover {
    background-color: var(--primary-color-dark); /* Darker shade for hover effect */
    border: 2px solid white; /* White border on hover */
}

.place__order-btn i {
    font-size: 1.2rem; /* Adjust icon size */
}

.header__shrink {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
